.wrapper {
  max-width: 1920px;

  margin: 0 auto;
  height: 100%;
  max-width: 1600px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  margin: 0 auto;
}

img {
  border-radius: 8%;
}
// STUFF FROM DEVELOPER TOOLS

// Element Element .bioTextContainer > p:nth-child(2) {
//   padding-top: 30px;
//   padding-bottom: 40px;
// }

#skills > h2:nth-child(1) {
  text-align: center;
  margin: 30px 0;
  text-transform: lowercase;
}
.skillContainerIcons {
  margin-right: 30px;
}
.skills {
  height: 60vh;
  max-height: 600px;
}

// // SAVING THIS FOR LATER- ICON COLORS HOVER
// .skillContainer1 > div:nth-child(1) > ion-icon:nth-child(1) {
//   color: #e45321;
// }
// .skillContainer2 > div:nth-child(1) > ion-icon:nth-child(1) {
//   color: #264de4;
// }
// .skillContainer2 > div:nth-child(1) > ion-icon:nth-child(2) {
//   color: #c26090;
// }
// .skillContainer3 > div:nth-child(1) > ion-icon:nth-child(1) {
//   color: #f5de19;
// }
// .ionicon {
// }
// .skillContainer3 > div:nth-child(1) > ion-icon:nth-child(2) {
//   color: #61dafb;
//   margin-bottom: 10px;
// }
// .skillContainer3 > div:nth-child(1) > ion-icon:nth-child(3) {
//   color: #ffa50e;
// }

// FROM DEVELOPER TOOLS

/* Element | http://127.0.0.1:5500/ */
