.wrapper {
  max-width: 1920px;

  margin: 0 auto;
  height: 100%;
  max-width: 1600px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  margin: 0 auto;
  background: #232931;
}
img {
  border-radius: 8%;
  width: 100%;
}
a {
  color: white;
}
// // SAVING THIS FOR LATER- ICON COLORS HOVER
// .skillContainer1 > div:nth-child(1) > ion-icon:nth-child(1) {
//   color: #e45321;
// }
// .skillContainer2 > div:nth-child(1) > ion-icon:nth-child(1) {
//   color: #264de4;
// }
// .skillContainer2 > div:nth-child(1) > ion-icon:nth-child(2) {
//   color: #c26090;
// }
// .skillContainer3 > div:nth-child(1) > ion-icon:nth-child(1) {
//   color: #f5de19;
// }
// .ionicon {
// }
// .skillContainer3 > div:nth-child(1) > ion-icon:nth-child(2) {
//   color: #61dafb;
//   margin-bottom: 10px;
// }
// .skillContainer3 > div:nth-child(1) > ion-icon:nth-child(3) {
//   color: #ffa50e;
// }
