.wrapper {
  max-width: 1920px;

  margin: 0 auto;
  height: 100%;
  max-width: 1600px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  margin: 0 auto;
  background: #232931;
}
img {
  border-radius: 8%;
  width: 100%;
}
a {
  color: white;
}
// // SAVING THIS FOR LATER- ICON COLORS HOVER
// .skillContainer1 > div:nth-child(1) > ion-icon:nth-child(1) {
//   color: #e45321;
// }
// .skillContainer2 > div:nth-child(1) > ion-icon:nth-child(1) {
//   color: #264de4;
// }
// .skillContainer2 > div:nth-child(1) > ion-icon:nth-child(2) {
//   color: #c26090;
// }
// .skillContainer3 > div:nth-child(1) > ion-icon:nth-child(1) {
//   color: #f5de19;
// }
// .ionicon {
// }
// .skillContainer3 > div:nth-child(1) > ion-icon:nth-child(2) {
//   color: #61dafb;
//   margin-bottom: 10px;
// }
// .skillContainer3 > div:nth-child(1) > ion-icon:nth-child(3) {
//   color: #ffa50e;
// }

// DEVELOPER TOOLS STYLING

/* styles.css | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/styles/styles.css */

// .myPortfolio .wrapper .myPortfolioAll .myPortTextSide .myPortTextDescription {
//   /* width: 70%; */
//   padding-right: 4%;
//   align-items: center;
// }

// .myPortfolio .wrapper .myPortfolioAll .myPortTextSide ul {
//   /* flex-direction: column; */
//   /* justify-content: space-evenly; */
//   /* height: 100%; */
//   flex-direction: row;
//   justify-content: space-around;
// }

// .myPortfolio .wrapper .myPortfolioAll .myPortTextSide {
//   /* height: 300px; */
//   height: auto;
//   flex-direction: column;
// }

// .myPortfolio .wrapper .myPortfolioAll .myPortTextSide .myPortTextTags {
//   /* width: 30%; */
//   /* padding-left: 50px; */
//   /* height: 100%; */
//   height: auto;
// }

// .myPortfolio .wrapper p {
//   /* padding-bottom: 10px; */
//   padding-bottom: 5%;
//   padding-top: 5%;
// }

/* Element | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/index.html */

// .myPortfolio1
//   > div:nth-child(2)
//   > div:nth-child(1)
//   > ul:nth-child(1)
//   > li:nth-child(1) {
//   width: 25%;
// }

/* Element | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/index.html */

// .myPortfolio2
//   > div:nth-child(2)
//   > div:nth-child(1)
//   > ul:nth-child(1)
//   > li:nth-child(2) {
//   width: 25%;
// }
// .myPortfolio .wrapper .myPortfolioAll .myPortTextSide .myPortTextDescription {
//   /* width: 70%; */
//   padding-right: 4%;
//   align-items: center;
// }

// .myPortfolio .wrapper .myPortfolioAll .myPortTextSide ul {
//   /* flex-direction: column; */
//   /* justify-content: space-evenly; */
//   /* height: 100%; */
//   flex-direction: row;
//   justify-content: space-around;
// }

// .myPortfolio .wrapper .myPortfolioAll .myPortTextSide {
//   /* height: 300px; */
//   height: auto;
//   flex-direction: column;
// }

// .myPortfolio .wrapper .myPortfolioAll .myPortTextSide .myPortTextTags {
//   /* width: 30%; */
//   /* padding-left: 50px; */
//   /* height: 100%; */
//   height: auto;
// }

// .myPortfolio .wrapper p {
//   /* padding-bottom: 10px; */
//   padding-bottom: 5%;
//   padding-top: 5%;
// }

/* Element | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/index.html */

// .myPortfolio1
//   > div:nth-child(2)
//   > div:nth-child(1)
//   > ul:nth-child(1)
//   > li:nth-child(1) {
//   width: 25%;
// }

/* Element | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/index.html */

// .myPortfolio2
//   > div:nth-child(2)
//   > div:nth-child(1)
//   > ul:nth-child(1)
//   > li:nth-child(2) {
//   width: 25%;
// }
