//FORM/CONTACT SECTION
.contactForm {
  height: 100vh;
  max-height: 600px;
  .wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    p {
      width: 600px;
      max-width: 600px;
      margin: 20px 0;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 600px;
      align-items: center;
      input,
      textarea {
        font-family: inherit;
        border-radius: 10px;
        margin-bottom: 6%;
        padding-left: 8%;
        width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
      }
      input {
        height: 50px;
      }
      textarea {
        padding-top: 3%;
        height: 100px;
      }
      button {
        align-items: center;
        width: 170px;
        height: 50px;
        border-radius: 5px;
        font-family: inherit;
        background-color: black;
        color: white;
        border: solid 1px #4cd9c9;
      }
    }
  }
}
