//FORM/CONTACT SECTION
.contactForm {
  height: 100vh;
  max-height: 600px;
  .wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    form {
      display: flex;
      flex-direction: column;
      width: 600px;
      input,
      textarea {
        border-radius: 5px;
        margin-bottom: 6%;
        font-family: inherit;
        padding-left: 8%;
      }
      input {
        height: 50px;
      }
      textarea {
        padding-top: 3%;
        height: 100px;
      }
      button {
        width: 100px;
        height: 50px;
        border-radius: 5px;
        font-family: inherit;
      }
    }
  }
}
