h1 {
  color: white;
}

.introImg {
  border-radius: 50%;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
  text-align: center;
  max-height: 600px;
  width: 100%;
  h2 {
    margin: 30px 0 20px 0;
  }
}
.intro {
  width: 100%;
}

// BIO section

.bioTextSide {
  width: 50%;
  height: 100%;
  align-items: center;
  display: flex;
  padding-left: 5%;
}

.bioImgContainer {
  width: 300px;
}

.bioTextContainer {
  width: 50%;
}

.bioImgSide {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  align-items: center;
}

.bio {
  display: flex;
  align-items: center;
  justify-content: unset;
  height: 50vh;
  max-height: 500px;
  margin-bottom: 5%;
}

// ---------SKILLS SECTION--------------------

// -----Hard Skills

.skills {
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 70vh;
  max-height: 600px;
  height: 100vh;
  max-height: 750px;
  margin-bottom: 50px;
  h3 {
    margin: 0 0 30px 0;
  }
}

.hardSkills {
  display: flex;
  margin: 0 0 70px 0px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.skillContainerAll {
  align-items: center;
  background-color: lightgray;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  margin: 10px;
  max-height: 245px;
  max-width: 245px;
  min-height: 245px;
  min-width: 245px;
  padding: 17px;
}
.skillContainerIcons {
  margin-right: 25px;
  margin-right: 10px;
  text-align: center;
}

// ----Soft Skills

.softSkills {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  .softSkillContainerAll {
    width: 30%;
  }
}

// ALT SKILL SECTION

.altSkill {
  height: 31vh;
  display: flex;
  justify-content: inherit;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.altSkillTextSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 18%;
  h3 {
    margin-bottom: 20px;
  }
}
.altSkillsGraphSide {
  width: 50%;
}

// PORTFOLIO SECTION
.myPortfolio {
  h3 {
    text-align: center;
    text-transform: lowercase;
    padding-top: 20px;
    margin-bottom: 40px;
  }
  .myPortfolioAll {
    .myPortImgSide {
      display: flex;
      justify-content: center;
    }
    .myPortTextSide {
      display: flex;
      height: 300px;
      .myPortTextTags {
        width: 30%;
        padding-left: 50px;
        height: 100%;
      }
      .myPortTextDescription {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.myPortfolio .wrapper {
  width: 70%;
}

.myPortTextSide ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

//
