// MEDIA QUERIES MAX 1000PX

@media only screen and (max-width: 1000px) {
  html {
    font-size: 90%;
  }

  nav {
    height: 50px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .heroBoxes {
    margin: 50px 0 0 0;
    padding-right: 0;
  }
  main .wrapper {
    width: 85%;
    margin: 0 auto;
    height: 100%;
  }

  .bioTextSide {
    padding-left: 30px;
    padding-left: 0px;
  }
}

// MEDIA QUERIES MAX 865PX
@media only screen and (max-width: 865px) {
  html {
    .intro p {
      width: 70%;
    }

    h2 {
      font-size: 1.75rem;
    }

    .bio {
      .bioImgSide .bioImgContainer .bioImg {
        width: 75%;
      }
      .bioImgSide {
        width: 42%;
        padding-right: 0;
        .bioImg {
          width: 100%;
          box-shadow: 102px 15px #4cd9c9, 299px 15px #4cd9c9, 484px 15px #4cd9c9;
        }
      }
      .bioTextSide {
        padding-left: 0px;
        width: 45%;
        .bioTextContainer {
          // width: null;
          max-width: 500px;
          // padding: 19px;
          // margin: null;
        }
      }
    }

    .myPortfolio {
      height: min-height;
      margin-bottom: 10%;
    }
  }
}

// MEDIA QUERIES MAX 795PX
@media only screen and (max-width: 795px) {
  html {
    h2 {
      font-size: 1.5rem;
    }
    header .wrapper .heroBoxes {
      .heroTextSide {
        padding-right: 5%;
      }
      .heroImgContainer {
        width: 250px;
      }
    }
    .intro {
      h2 {
        margin: 15px 0 20px 0;
      }
      p {
        width: 90%;
      }
    }
    .bio {
      justify-content: center;
      max-height: 700px;
      flex-direction: column;
      min-height: 500px;
      h3 {
        text-align: center;
      }
      .bioImgSide,
      .bioImg,
      .bioImgSide,
      .bioTextSide,
      .bioTextContainer {
        width: 100%;
      }
      .bioImgSide {
        justify-content: center;
        margin-top: 61px;
        .bioImgContainer {
          width: 200px;
          .bioImg {
            box-shadow: 66px 0px #4cd9c9, -66px 0px #4cd9c9;
            border: 4px solid #4cd9c9;
            padding-right: 0px;
            width: 100%;
          }
        }
      }

      .bioTextSide {
        justify-content: center;
        .bioTextContainer {
          // max-width: 90%;
          padding: 7%;
          text-align: center;
        }
      }
    }

    .skillContainerAll {
      border-radius: 1%;
      min-width: 0;
      min-height: 0;
      max-width: 1000px;
      margin: 15px;
    }
  }
  //  MY PORTFOLIO SECTION (795PX)
  .myPortfolio .wrapper {
    width: inherit;
    .myPortfolioAll {
      .myPortTextSide {
        flex-direction: column;
        height: auto;
        width: 100%;

        .myPortTextTags {
          width: 100%;
          padding-left: 5%;
          padding-top: 3%;
          padding-bottom: 3%;
          height: auto;
          ul {
            flex-direction: row;
            justify-content: space-around;
            height: auto;
            li {
              width: 25%;
            }
          }
        }
        .myPortTextDescription {
          width: 100%;
          padding-right: 4%;
          align-items: center;
          text-align: center;
          p {
            padding-bottom: 5%;
          }
        }
      }
      .myPortImgSide .myPortImgContainer {
        width: 100%;
      }
    }
  }
  .contactForm .wrapper {
    width: 95%;
    p {
      width: 100%;
    }
    form {
      width: 100%;
    }
  }
}

// MEDIA QUERIES MAX 565PX
@media only screen and (max-width: 565px) {
  header .wrapper .heroBoxes {
    padding-right: 0;
    flex-direction: column-reverse;
  }
  .intro {
    padding-top: 10%;
    margin: 20% 0 15%;
    p {
      width: 100%;
    }
  }
  .skills .skillContainerAll {
    border-radius: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    width: 100%;
  }
  .myPortfolio .wrapper .myPortfolioAll .myPortTextSide .myPortTextTags {
    padding-left: 0;
    text-align: center;
  }
}

// MEDIA QUERIES MAX 565PX
@media only screen and (max-width: 565px) {
  .myPortfolio .wrapper .myPortfolioAll .myPortTextSide .myPortTextTags ul {
    flex-direction: column;
    li {
      width: 100%;
    }
  }
}
