// MEDIA QUERIES MAX 1000PX

@media only screen and (max-width: 1000px) {
  html {
    font-size: 90%;
  }

  nav {
    height: 50px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .heroBoxes {
    margin: 50px 0 0 0;
    padding-right: 0;
  }
  main .wrapper {
    width: 85%;
    margin: 0 auto;
    height: 100%;
  }

  .bioTextSide {
    padding-left: 30px;
    padding-left: 0px;
  }
}

// MEDIA QUERIES MAX 865PX
@media only screen and (max-width: 865px) {
  html {
    .intro p {
      width: 70%;
    }

    h2 {
      font-size: 1.75rem;
    }

    .bio {
      .bioImgSide .bioImgContainer .bioImg {
        width: 75%;
      }
      .bioImgSide {
        width: 42%;
        padding-right: 0;
        .bioImg {
          width: 100%;
          box-shadow: 102px 15px #4cd9c9, 299px 15px #4cd9c9, 484px 15px #4cd9c9;
        }
      }
      .bioTextSide {
        padding-left: 0px;
        width: 45%;
        .bioTextContainer {
          // width: null;
          max-width: 500px;
          // padding: 19px;
          // margin: null;
        }
      }
    }

    .myPortfolio {
      height: min-height;
      margin-bottom: 10%;
    }
  }
}

// MEDIA QUERIES MAX 795PX
@media only screen and (max-width: 795px) {
  html {
    h2 {
      font-size: 1.5rem;
    }
    .intro {
      h2 {
        margin: 15px 0 20px 0;
      }
      p {
        width: 90%;
      }
    }
    .bio {
      justify-content: center;
      max-height: 700px;
      flex-direction: column;
      min-height: 500px;
      h3 {
        text-align: center;
      }
      .bioImgSide,
      .bioImg,
      .bioImgSide,
      .bioTextSide,
      .bioTextContainer {
        width: 100%;
      }
      .bioImgSide {
        justify-content: center;
        margin-top: 61px;
        .bioImgContainer {
          width: 200px;
          .bioImg {
            box-shadow: 66px 0px #4cd9c9, -66px 0px #4cd9c9;
            border: 4px solid #4cd9c9;
            padding-right: 0px;
            width: 100%;
          }
        }
      }

      .bioTextSide {
        justify-content: center;
        .bioTextContainer {
          // max-width: 90%;
          padding: 7%;
          text-align: center;
        }
      }
    }

    .skillContainerAll {
      border-radius: 1%;
      min-width: 0;
      min-height: 0;
      max-width: 1000px;
      margin: 15px;
    }
  }

  .myPortfolioAll .myPortTextSide .myPortTextDescription {
    /* width: 70%; */
    padding-right: 4%;
    align-items: center;
  }
}
