// ---------------NAV SECTION START----------
nav {
  position: fixed;
  background-color: #4cd9c9;
  width: 100%;
  height: 80px;
  z-index: 10;
  padding-right: 15%;
  padding-left: 15%;
  max-width: 1600px;
  .wrapper {
    width: 100%;
    justify-content: unset;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
  }
}

.socialsAndMenu {
  display: flex;
  flex-direction: row;
  .socials {
    display: flex;
    flex-direction: row;
  }
  li {
    margin-right: 20px;
    list-style: none;
  }
  // .dropdownMenu {
  //   display: none;
  // }
}

// SIDE NAV

.mobileSocial {
  display: none;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #4cd9c9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-bottom: 60px;
}
.sideNavIcon {
  cursor: pointer;
}
.sideNav a {
  padding: 10px 8px 10px 32px;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: rgba(0, 0, 0, 0.611);
}
nav ion-icon:hover {
  color: rgba(0, 0, 0, 0.611);
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2rem;
  margin-left: 50px;
}
