@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/baseStyles";
@import "./partials/header";
@import "./partials/main";
@import "./partials/form";
@import "./partials/footer";
@import "./partials/mediaQueries";
