html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1.3rem;
  color: #fff;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

body {
  font-size: 1rem;
  color: white;
  background: black;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 20px;
}

.logo a {
  color: white;
  font-size: 2em;
  text-transform: lowercase;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

nav ion-icon {
  font-size: 32px;
}

.skillContainerAll > div:nth-child(1) > ion-icon:nth-child(1) {
  font-size: 32px;
  margin-bottom: 10px;
}

.skillContainerAll > div:nth-child(1) > ion-icon:nth-child(1n+2) {
  font-size: 24px;
}

.skills h3 {
  text-align: center;
  margin: 30px 0;
  text-transform: lowercase;
}

.skills p {
  margin-top: 10px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  max-width: 1600px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  margin: 0 auto;
  background: #232931;
}

img {
  border-radius: 8%;
  width: 100%;
}

a {
  color: white;
}

/* styles.css | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/styles/styles.css */
/* Element | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/index.html */
/* Element | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/index.html */
/* Element | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/index.html */
/* Element | file:///c:/Users/impul/OneDrive/Documents/all-web-dev/juno-bootcamp/juno-projects/kevin-de-sousa-portfolio/index.html */
nav {
  position: fixed;
  background-color: #4cd9c9;
  width: 100%;
  height: 80px;
  z-index: 10;
  padding-right: 15%;
  padding-left: 15%;
  max-width: 1600px;
}
nav .wrapper {
  width: 100%;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.socialsAndMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.socialsAndMenu .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.socialsAndMenu li {
  margin-right: 20px;
  list-style: none;
}
.socialsAndMenu .dropdownMenu {
  display: none;
}

header {
  background-color: #4cd9c9;
  width: 100%;
  height: 100vh;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 0 auto;
}
header .wrapper h1 {
  margin-bottom: 20px;
}
header .wrapper .heroBoxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0 0 0;
  padding-right: 7%;
  max-width: 1100px;
}
header .wrapper .heroBoxes .heroImgContainer {
  width: 300px;
}
header .wrapper .heroBoxes .heroImgContainer img {
  border-radius: 10px;
}

body {
  background-image: url(../assets/1698013.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5% 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-height: 600px;
  width: 100%;
}
.intro h2 {
  margin: 30px 0 20px 0;
  line-height: 1.4rem;
}
.intro p {
  width: 70%;
  max-width: 600px;
  margin-bottom: 10px;
}
.intro .introImg {
  border-radius: 7%;
  width: 300px;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  height: auto;
  max-height: 500px;
  padding-top: 8%;
  padding-bottom: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: solid 5px #4cd9c9;
  border-bottom: solid 5px #4cd9c9;
}
.bio .bioTextSide {
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}
.bio .bioTextSide .bioTextContainer {
  width: 80%;
  max-width: 332px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 13px;
  margin-top: 23px;
}
.bio .bioTextSide .bioTextContainer h3 {
  text-transform: lowercase;
}
.bio .bioTextSide .bioTextContainer p {
  margin: 18px 0;
}

.bioImgSide {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bioImgSide .bioImgContainer {
  width: 300px;
}
.bioImgSide .bioImgContainer .bioImg {
  width: 100%;
  -webkit-box-shadow: 92px 15px #4cd9c9, 350px 15px #4cd9c9, 484px 15px #4cd9c9;
          box-shadow: 92px 15px #4cd9c9, 350px 15px #4cd9c9, 484px 15px #4cd9c9;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 5% auto 95px;
  height: auto;
}
.skills h3 {
  width: 200px;
  height: 45px;
  border-left: solid 2px #4cd9c9;
  padding: 11px;
  background-color: rgba(0, 0, 0, 0.4);
}
.skills .skillContainerAll {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  max-height: 245px;
  max-width: 245px;
  min-height: 245px;
  min-width: 245px;
  padding: 17px;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 3px #4cd9c9;
}
.skills .skillContainerAll .skillContainerIcons {
  margin-right: 25px;
  margin-right: 10px;
  text-align: center;
  height: 100%;
}

.hardSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.softSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.softSkills .softSkillContainerAll {
  width: 30%;
}

.myPortfolio .wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.myPortfolio .wrapper h3 {
  text-align: center;
  text-transform: lowercase;
  padding-top: 20px;
  height: 45px;
  width: 361px;
  border-left: solid 2px #4cd9c9;
  padding-top: 7px;
  background-color: rgba(0, 0, 0, 0.4);
}
.myPortfolio .wrapper p {
  padding-bottom: 10px;
}
.myPortfolio .wrapper .myPortfolioAll .myPortImgSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.myPortfolio .wrapper .myPortfolioAll .myPortImgSide .myPortImgContainer {
  width: 700px;
}
.myPortfolio .wrapper .myPortfolioAll .myPortTextSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 2px solid #4cd9c9;
}
.myPortfolio .wrapper .myPortfolioAll .myPortTextSide ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}
.myPortfolio .wrapper .myPortfolioAll .myPortTextSide .myPortTextTags {
  width: 30%;
  padding-left: 50px;
  height: 100%;
}
.myPortfolio .wrapper .myPortfolioAll .myPortTextSide .myPortTextDescription {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 4%;
}

.contactForm {
  height: 100vh;
  max-height: 600px;
}
.contactForm .wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.contactForm .wrapper p {
  width: 600px;
  max-width: 600px;
  margin: 20px 0;
}
.contactForm .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactForm .wrapper form input,
.contactForm .wrapper form textarea {
  font-family: inherit;
  border-radius: 10px;
  margin-bottom: 6%;
  padding-left: 8%;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.contactForm .wrapper form input {
  height: 50px;
}
.contactForm .wrapper form textarea {
  padding-top: 3%;
  height: 100px;
}
.contactForm .wrapper form button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  font-family: inherit;
  background-color: black;
  color: white;
  border: solid 1px #4cd9c9;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  height: 40px;
  background-color: black;
  color: white;
  border-top: solid 2px #4cd9c9;
}
footer p {
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 90%;
  }

  nav {
    height: 50px;
    padding-right: 5%;
    padding-left: 5%;
  }

  .heroBoxes {
    margin: 50px 0 0 0;
    padding-right: 0;
  }

  main .wrapper {
    width: 85%;
    margin: 0 auto;
    height: 100%;
  }

  .bioTextSide {
    padding-left: 30px;
    padding-left: 0px;
  }
}
@media only screen and (max-width: 865px) {
  html .intro p {
    width: 70%;
  }
  html h2 {
    font-size: 1.75rem;
  }
  html .bio .bioImgSide .bioImgContainer .bioImg {
    width: 75%;
  }
  html .bio .bioImgSide {
    width: 42%;
    padding-right: 0;
  }
  html .bio .bioImgSide .bioImg {
    width: 100%;
    -webkit-box-shadow: 102px 15px #4cd9c9, 299px 15px #4cd9c9, 484px 15px #4cd9c9;
            box-shadow: 102px 15px #4cd9c9, 299px 15px #4cd9c9, 484px 15px #4cd9c9;
  }
  html .bio .bioTextSide {
    padding-left: 0px;
    width: 45%;
  }
  html .bio .bioTextSide .bioTextContainer {
    max-width: 500px;
  }
  html .myPortfolio {
    height: min-height;
    margin-bottom: 10%;
  }
}
@media only screen and (max-width: 795px) {
  html h2 {
    font-size: 1.5rem;
  }
  html .intro h2 {
    margin: 15px 0 20px 0;
  }
  html .intro p {
    width: 90%;
  }
  html .bio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 500px;
  }
  html .bio h3 {
    text-align: center;
  }
  html .bio .bioImgSide,
html .bio .bioImg,
html .bio .bioImgSide,
html .bio .bioTextSide,
html .bio .bioTextContainer {
    width: 100%;
  }
  html .bio .bioImgSide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 61px;
  }
  html .bio .bioImgSide .bioImgContainer {
    width: 200px;
  }
  html .bio .bioImgSide .bioImgContainer .bioImg {
    -webkit-box-shadow: 66px 0px #4cd9c9, -66px 0px #4cd9c9;
            box-shadow: 66px 0px #4cd9c9, -66px 0px #4cd9c9;
    border: 4px solid #4cd9c9;
    padding-right: 0px;
    width: 100%;
  }
  html .bio .bioTextSide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html .bio .bioTextSide .bioTextContainer {
    padding: 7%;
    text-align: center;
  }
  html .skillContainerAll {
    border-radius: 1%;
    min-width: 0;
    min-height: 0;
    max-width: 1000px;
    margin: 15px;
  }

  .myPortfolioAll .myPortTextSide .myPortTextDescription {
    /* width: 70%; */
    padding-right: 4%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}